# Node modules
node_modules

# Build artifacts
build/*.zip
build/function-build/

# Terraform
infrastructure/.terraform
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/tfplan

# OS files
.DS_Store

tests/images/
